:root {
}
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

/* fonts */
@font-face {
  font-family: SGrapes;
  src: url(../Fonts/SundayGrapes.ttf);
}
@font-face {
  font-family: BOO;
  src: url(../Fonts/BlackOpsOne.ttf);
}
@font-face {
  font-family: Npool;
  src: url(../Fonts/Neuropool.otf);
}
@font-face {
  font-family: AngasV3B;
  src: url(../Fonts/AngasV3Bold.ttf);
}
@font-face {
  font-family: AngasV3U;
  src: url(../Fonts/AngasV3Ultra.ttf);
}
@font-face {
  font-family: Vampire;
  src: url(../Fonts/Vampire.ttf);
}
@font-face {
  font-family: TBold;
  src: url(../Fonts/Thunderbold.ttf);
}
@font-face {
  font-family: Gow;
  src: url(../Fonts/GoW.TTF);
}
@font-face {
  font-family: Dosis;
  src: url(../Fonts/Dosis.ttf);
}

/* fonts ends here */

/* raplacing Logo to match natural element */
.randomletter {
  font-family: AngasV3B;
  text-transform: uppercase;
  font-size: 40px;
  color: white;
  margin-left: 20px;
  border-radius: 5px;
}
.randomletter:hover {
  background-color: white;
  color: black;
}
.navi {
  background-color: var(--navibg-color);
  border: #fff dashed 3px;
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 1;
  max-width: 100%;
  justify-content: space-between;
}
/* .logo {
  border: lime solid 2px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 30%;
  flex-shrink: 0;
  width: 40%;
  margin-left: 20px;
} */
.randomletter {
  outline: lime solid 2px;
  margin-top: 10px;
  text-align: center;
}
.navilist {
  flex-direction: row;
  border: #fff dashed 3px;
  display: flex;
  color: #fff;
  flex-wrap: wrap;
  margin: 10px 20px;
  align-items: center;
  gap: 1em;
  text-align: center;
}

.navilist > * {
  margin: 3px;
}
.navilist li {
  border: #fff dashed 3px;
}
.navilist a {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.navilist a::after {
  content: ' ';
  width: 0%;
  height: 3px;
  position: absolute;
  background: red;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.navilist a:hover::after {
  width: 100%;
}

/* for dropdown picker */

.visuallyhidden{
clip:rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;}


.colorpicker .visible {
  opacity: 1; /* Initially, set the opacity to 0 */
  transition: opacity 0.3s ease-in-out; /* Add a transition for opacity */
}

.colorpicker .hidden {
  opacity: 0;
  display: none;
}


.colorpicker > fieldset
{
  border: 0;
  display: flex;
  gap:2rem;
  background-color:rgb(238, 238, 238);
  width: fit-content;
  padding: 1rem 3rem;
  margin-inline: auto;
  border-radius: 0 0 1rem 1rem;
}
.colorpicker input[type="radio"]{
  appearance:none;
  width: 1.5rem;
  height: 1.5rem;
  border: 3px solid var(--radio-color,CurrentColor);
  border-radius: 50%;
}

input[type="radio"]#default{
  --radio-color:red;
}
input[type="radio"]#blue{
  --radio-color:blue;
}
input[type="radio"]#green{
  --radio-color:green;
}
input[type="radio"]#orange{
  --radio-color:orange;
}
input[type="radio"]#light{
  --radio-color:gold;
}



/* eto yung default pag landscape or mas mataas na yung width screen  */
@media (width < 790px) {
  .logo {
    flex-basis: 15%;
    flex-shrink: 0;
  }
  .navi {
    flex-direction: column;
    max-width: 100%;
    align-items: center;
  }
  .randomletter {
    margin-top: 10px;
    text-align: center;
    width: 300px;
    align-items: center;
    justify-content: center;
  }
  .navilist {
    max-height: 130px;
    align-items: right;
    margin-right: 20px;
    justify-content: space-evenly;
    gap: 1px;
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  .navilist a {
    font-size: 10pt;
  }
}
