
/* raplacing Logo to match natural element */
.randomletter {
  font-family: AngasV3B;
  text-transform:uppercase;
  font-size: 40px;
  color:  white;
  margin-left: 20px;
  border-radius: 5px;
}
.randomletter:hover{
  background-color: white;
  color: black;
}
.navi {
  background-color: #000000;
  border: #fff dashed 3px;
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 1;
  max-width: 100%;
  justify-content: space-between; 
}
/* .logo {
  border: lime solid 2px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 30%;
  flex-shrink: 0;
  width: 40%;
  margin-left: 20px;
} */
.randomletter {
  outline: lime solid 2px;
  margin-top: 10px;
  text-align: center;
}  
.navilist {
  flex-direction: row;
  border: #fff dashed 3px;
  display: flex;
  color: #fff;
  flex-wrap: wrap;
  margin: 10px 20px;
  gap: 1em;
  text-align: center;
}

.navilist > * {
margin: 3px;
}
.navilist li {
  border: #fff dashed 3px;
}
.navilist a {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.navilist a::after {
  content: ' ';
  width: 0%;
  height: 3px;
  position: absolute;
  background: red;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.navilist a:hover::after {
  width: 100%;
}

/* eto yung default pag landscape or mas mataas na yung width screen  */
@media (width < 790px) {
  .logo {
    flex-basis: 15%;
    flex-shrink: 0;
  }
  .navi  {
    flex-direction: column;
    max-width:100%;
    align-items: center;
  }
  .randomletter {
    margin-top: 10px;
    text-align: center;
    width: 120px;
    align-items: center;
    justify-content: center;
  }  
  .navilist {
    max-height: 130px;
    align-items: right;
    margin-right:20px;
    justify-content:space-evenly; 
    gap: 1px;
    display: flex;
    overflow: hidden;
    width: 100%;
    }
    .navilist a{
      font-size:10pt;
    }
  }