:root{
  --primarybackground-color:white;
  --primarytext-color:black;
  --highlighttext-color:gold;
  --button-gradient:linear-gradient(180deg, gold, rgb(70, 59, 0));
  --button-font-color:#fff;
  --navibg-color:rgb(255, 253, 139);
  }