* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#header {
margin: auto;
}

body {
  background-image:url(public/BGred.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f4f4;
  margin: auto;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-transform: uppercase;
letter-spacing: 10px;
  word-spacing: 1px;
}

h2 {
  font-family: 'Arial black';
  color: #9c0a0a;
  margin-top: 30px;
}
p {
  font-family: 'Trebuchet MS';
  line-height: 1.3em;
  color: #000000;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 15px;
}
/* Classes */
.logo{

}

nav{
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}
.headercontainer {
 padding: 50px 20px;
  background-color: #000000;
  max-width: 100%;
  min-width: 75%;
}


 nav ul li{
  color: #fff;
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a{
  color: #FFF;
  text-decoration: none;
  position: relative;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
}

nav ul li a::after{
  content:' ';
  width: 0%;
  height: 3px;
  position: absolute;
  background: red;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  background-color: rgba(242, 242, 242, 100);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
  text-align: justify;
  height: 500px;
}

.HeaderButton {
  background-color: rgb(201, 11, 11);
  border-radius: 10px;
  margin: 10em 10px;
  padding: 10px 15px;
  border-color: transparent;
  color: #fff;
  max-width: 10%;
  height: 30px;
  text-align: center;
  position: relative;
}

.HeaderButton:hover {
  background-color: darkgray;
  color: #000000;
  cursor: pointer;
}

.box1 {
  background-color: pink;
  border-color: blue;
  max-width: 100%;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 15px;
  text-align: center;
}

.box1 li {
  display: inline;
  list-style: none;
}
.box1 p {
 font-style: italic;
}
.logo{

}
.RightImage{
display: flex;
flex-wrap: wrap;
}
.headertext{
  margin-top: 20px;
  font-size: 28px;
}
.headertext p{
color: #fff;
}
.headertext h1{
  color: #fff;
  font-size: 50px;
  margin-top: 20px;
}

.headertext h1 span{
  color: red;
}


.btn{
  background-color: rgb(15, 15, 15);
  border-radius: 10px;
  margin: 10px 10px;
  padding: 10px 15px;
  border-color: transparent;
  color: #fff;
  max-width: 10%;
  width: 100px;
  height: 30px;
}
.fixedtotop{
  position: fixed;
  top: 350px;
  left: 90%;
}