* {
  margin: auto;
  padding: 0px;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #ad070a;
}

header {
  background-color: #ff0004;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

body {
  background-image:url(public/BGtry.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f4f4;
  margin: auto;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Arial black';
  color: #ff0004;
  margin-top: 30px;
}
p {
  font-family: 'Trebuchet MS';
  line-height: 1.3em;
  color: #000000;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 15px;
}
/* Classes */

.headercontainer {
  max-width: 100%;
  min-width: 75%;
}
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  background-color: rgba(242, 242, 242, 100);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
  text-align: justify;
  height: 500px;
}

.HeaderButton {
  background-color: rgb(201, 11, 11);
  border-radius: 10px;
  margin: 10em 10px;
  padding: 10px 15px;
  border-color: transparent;
  color: #fff;
  max-width: 10%;
  height: 30px;
  text-align: center;
  position: relative;
}

.HeaderButton:hover {
  background-color: darkgray;
  color: #000000;
  cursor: pointer;
}

.box1 {
  background-color: pink;
  border-color: blue;
  list-style: georgian;
  max-width: 100%;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 15px;
  text-align: center;
}

.box1 li {
  display: inline;
  list-style: none;
}
.box1 p {
 font-style: italic;
}
.logo{

}
.logo:hover {
  filter: drop-shadow(0 0 2em #cffc0ae8);}

.box2 {
}


.btn{
  background-color: rgb(15, 15, 15);
  border-radius: 10px;
  margin: 10px 10px;
  padding: 10px 15px;
  border-color: transparent;
  color: #fff;
  max-width: 10%;
  width: 100px;
  height: 30px;
}
.fixedtotop{
  position: fixed;
  top: 350px;
  left: 90%;
}