:root{

}
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
@font-face{
  font-family: SGrapes;
  src:url(Fonts/SundayGrapes.ttf);
}
@font-face{
  font-family: BOO;
  src:url(Fonts/BlackOpsOne.ttf);
}
@font-face{
  font-family: Npool;
  src:url(Fonts/Neuropool.otf);
}
@font-face{
  font-family:AngasV3B;
  src:url(Fonts/AngasV3Bold.ttf);
}
@font-face{
  font-family:AngasV3U;
  src:url(Fonts/AngasV3Ultra.ttf);
}
@font-face{
  font-family:Chopsic;
  src:url(Fonts/Chopsic.otf);
}
@font-face{
  font-family:Vampire;
  src:url(Fonts/Vampire.ttf);
}
@font-face{
  font-family:TBold;
  src:url(Fonts/Thunderbold.ttf);
}
@font-face{
  font-family:Gow;
  src:url(Fonts/GoW.TTF);
}
#header {
  margin: auto 0px;
  width: 100%;
  height: auto;
  background-color: #450000;
  background-image: url("https://www.transparenttextures.com/patterns/dark-exa.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
#body {
  background-size: cover;
  margin: auto;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 5px;
  word-spacing: 1px;
}

h2 {
  font-family: 'Arial black';
  color: #9c0a0a;
}
p {
  font-family: 'Trebuchet MS';
  line-height: 1.3em;
  color: #000000;
}
/* Classes */


/* raplacing Logo to much natural element */
.randomletter {
  font-family: AngasV3B;
  font-size: 40px;
  color:  white;
  margin-left: 20px;
  border-radius: 5px;
}
.randomletter:hover{
  background-color: white;
  color: black;
}

.logo {
}

.headercontainer {
  border: lime solid 2px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navi {
  background-color: #000000;
  border: #fff dashed 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1px;
  flex-direction: column;
  width: 100%;
}

.logo {
  border: lime solid 2px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 30%;
  flex-shrink: 0;
  width: 40%;
  margin-left: 20px;
}
.randomletter {
  outline: lime solid 2px;
}  
.navilist {
  max-width: 100%;
  margin: 10px 20px;
  flex-direction: column;
  border: #fff dashed 3px;
  display: flex;
  gap: 1px;
  color: #fff;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.navilist > * {
margin: 3px;
}
/* eto yung default pag whole screen */
@media (min-width: 60em) {
  .headercontainer {
    flex-direction: row;
  }
  .headercontainer img {
    justify-content: space-evenly;
  }
  .headertext h1 {

  }
  .headertext p {
    font-size: 50%;
  }
  .headertext {
    align-items: left;
    justify-content: center;
    text-align: left;
  }
  .logo {
    flex-basis: 15%;
    flex-shrink: 0;
  }
  .navi  {
    flex-direction: row;
    margin-bottom: 30px;
  }
  .navilist {
    flex-direction: row;
    max-width: 100%;
    align-items: center;
    align-content: center;
    gap: 1em;
  }


}
.navilist{
  text-align: center;
}
.navilist li {
  border: #fff dashed 3px;
}
.navilist a {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  font-family: 'Trebuchet MS';
  text-transform: uppercase;
  text-align: center;
}

.navilist a::after {
  content: ' ';
  width: 0%;
  height: 3px;
  position: absolute;
  background: red;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.navilist a:hover::after {
  width: 100%;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  background-color: rgba(242, 242, 242, 100);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
  text-align: justify;
  height: 500px;
}

.HeaderButton {
  background-color: rgb(201, 11, 11);
  border-radius: 10px;
  margin: 10em 10px;
  padding: 10px 15px;
  border-color: transparent;
  color: #fff;
  max-width: 10%;
  height: 30px;
  text-align: center;
  position: relative;
}

.HeaderButton:hover {
  background-color: darkgray;
  color: #000000;
  cursor: pointer;
}

.box1 {
  background-color: pink;
  border-color: blue;
  max-width: 100%;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 15px;
  text-align: center;
}

.box1 li {
  display: inline;
  list-style: none;
}
.box1 p {
  font-style: italic;
}

.RightImage {
  display: flex;
  flex-wrap: wrap;
}
.headertext {
  border: lime dashed 3px;
  display: flex;
  gap: 1em;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 55%;
  justify-content: space-evenly;
  /* background-image:url("public/BG02F.png");
  background-size: cover;
  background-position:center; */
}
.headertext > *{
margin: 20px;
}
.headertext p {
  align-items: left;
  border: #fff dashed 3px;
  color: #fff;
  font-family:Npool;
  font-size: 25px;
  justify-content: left;
}
.headertext h1 {
  border: #fff dashed 3px;
  color: #fff;
  font-family:Npool;
  font-size: 35px;
  letter-spacing: 5px;
}
.headercontainer img {
  border: #fff dashed 2px;
  display: flex;
  flex-wrap: wrap;
  min-width: 30%;
  max-width:35%;
  margin: 10px 20px 10px 0px;
  align-items: center;
}

.headertext h1 span {
  color: rgb(199, 1, 1);
  text-transform: uppercase;
  font-family:Gow;
  font-size: 60px;
}

.headertext p span {
  color: rgb(255, 0, 0);
  font-family: AngasV3B;
  text-transform: uppercase;
  font-size: 30px;
}

.btn {
  border-radius: 10px;
  margin: 10px 10px;
  padding: 10px 15px;
  border-color: transparent;
  color: #fff;
  max-width: 10%;
  width: 100px;
  height: 20px;
}
.fixedtotop {
  background-color: #9c0a0a;
  position: fixed;
  top: 500px;
  left: 90%;
  text-align: center;
  text-decoration: none;
}
.bodycontainer {
  background-color: #450000;
  background-image: url("https://www.transparenttextures.com/patterns/dark-exa.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.footercontainer{
  border: #fff dashed 2px;
  background-color: red;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;

}
.footercontainer p{
  display: flex;
  align-content: center;
  justify-content: center;
  color:#fff;
  margin-bottom:1em;
  }
.footertitle{
  border: #fff dashed 2px;
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  justify-content: center;
  letter-spacing: 5px;
}

.footerlogocontainer{
  border: #fff dashed 2px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
}
.footerlogocontainer a svg {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  flex-shrink: 1;
  flex-grow: 1;
  border: lime dashed 2px;
  color: #fff;
  width: 40px;
}
.footerlogocontainer a svg:hover{
  filter: drop-shadow(0 0 10px rgb(82, 0, 0));
}

